/*
  Theme Name: Guna
  Author: Anup Bista
  Author Uri: http://www.anupbista.com
  Version: 1.0
*/

/*************************
*******Typography******
**************************/

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #666;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

h3 {
  font-size: 18px;
}

p{
  font-size: 14px;
}
.btn {
  border: 0;
  border-radius: 0;
}
a {
  text-decoration: none;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus, 
a:hover {
  text-decoration: none;
  outline: none
}

section {
  padding: 55px 0;
}
.row{
  position: relative;
}
.heading {
  color: #fff;
  text-transform: uppercase;
}
 img{
   max-width: 100%;
 }
.heading h2{
  color: #fff;
  font-size: 36px;
}
.heading p{
  text-transform: none;
  color: #f0f0f0;
  font-size: 17px;
}

/*Preloader*/

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  background: #fff;
  background: #16817a;
}

.preloader > i {
  position: absolute;
  font-size: 36px;
  line-height: 36px;
  top: 50%;
  left: 50%;
  color: #fff;
  height: 36px;
  width: 36px;
  margin-top: -15px;
  margin-left: -15px;
  display: inline-block;
}


/*************************
********Home CSS**********
**************************/
#home-slider{
  position: relative;
}
.carousel-indicators{
  position: absolute;
  right: 5%;;
  top: 50%;
  height: auto;
  bottom: auto;
  transform: translateY(-50%);
  left: auto;
  width: auto;
  margin-left: 0;
}
.carousel-indicators li{
  display: block;
  height: 15px;
  margin: 0;
  width: 15px;
  margin-bottom: 5px;
}
.carousel-indicators .active {
  width: 15px;
  height: 15px;
  margin: 0;
  background-color: #fff;
  margin-bottom: 5px;
    
}
#home-slider .caption.container{
  margin-top: 0;
  width: 80%;
  margin: auto;
  padding: 1em 2em;;
  background: #ebebea;
  border: 8px solid #fff;
  transform: translateY(-50%);
}
#home-slider .caption h3{
  font-size: 25px;
  font-weight: 700;
}
#home-slider .caption p{
  color: #695f5f;
  margin-top: 0;
  font-size: 18px;
  text-transform: none;
}
#home-slider .caption .caption-content{
  padding: 2em 1em;
}
#home{
  position: relative;
}
#home .logos{
  position: absolute;
  z-index: 99999;
  right: 12%;
  top: 30px;
}
#home .logos li{
  display: inline-block;
  list-style: none;
  height: 70px;
  overflow: hidden;
  border-radius: 50%;
  width: 70px;
  margin-left: 10px;
  background: #fff;
}
#home .logos{
  margin: 0;
  padding: 0;
}
#home .logos li img{
  border-radius: 50%;
  transition: .6s;
}
#home .logos li a:hover img{
  transform: scale(0.8);
}
#home-slider {
  overflow: hidden;
  position: relative;
}

#home-slider .caption {
  position: absolute;
  top: 50%;
  margin-top: -104px;
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  z-index: 15;
  font-size: 18px;
  font-weight: 300;
  color: #fff;
}

#home-slider .caption h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 30px;
}

.caption .btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid #6e6d6c;
  border-radius: 4px;
  margin-top: 40px;
}

.caption .btn-start:hover {
  color: #fff
}

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2037px;
}

.carousel-fade .carousel-inner .item:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.left-control, .right-control {
  position: absolute;
  top: 50%;
  height: 51px;
  width: 51px;
  line-height: 48px;
  border-radius: 50%;
  border:1px solid #fff;  
  z-index: 20;
  font-size: 24px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.left-control {
  left: -51px
} 

.right-control {
  right: -51px;
}

.left-control:hover, 
.right-control:hover {
  color: #fff;
}

#home-slider:hover .left-control {
  left:30px
} 

#home-slider:hover .right-control {
  right:30px
}

#home-slider .fa-angle-down {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 50px;
  color: #fff;
  display: inline-block;
  width: 60px;
  height: 60px;
  text-align: center;
  font-size: 44px;
  line-height: 60px;
  border:1px solid #fff;
  border-radius: 50%;
  /*padding: 1em;*/
  z-index: 999;
  -webkit-animation: bounce 3000ms infinite;
  animation: bounce 3000ms infinite;
}
.carousel-inner .item{
  background: none !important;
}
.carousel-fade .carousel-inner .item:after{
  display: none;
}
/*navbar*/
.navbar-nav li a:hover, 
.navbar-nav li a:focus {
  outline:none;
  outline-offset: 0;
  text-decoration:none;  
  background: transparent;
}

.navbar-right li a {
  color: #fff;
  transition: none;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
}
.navbar-right li{
  padding: 20px 0;
}
.navbar-right li.active a {
  background-color:none;
}
.navbar-brand h1 {
  margin-top: 5px;
}
.navbar-brand img{
  width: 90px;
  margin-top: -28px;
}
.navbar-right li a:hover{
  border-bottom: 3px solid #73b3af;
}
.navbar-right li.active a{
  border-bottom: 3px solid #73b3af;
}
.main-nav{
  background: #16817a;
}
.navbar-collapse{
  padding-right: 0;
  padding-left: 0;
}
.navbar-brand{
  font-size: 38px;
  font-weight: 700;
  letter-spacing: -2px;
  color: #fff;
  line-height: 50px;
}

/*************************
********Our Company CSS*******
**************************/

.service-icon {
  border-radius: 50%;
  color: #fff;
  display: inline-block;
  font-size: 56px;
  height: 130px;
  line-height: 130px;
  width: 130px;  
  font-weight: 400;
  background: transparent;
  border: 2px solid #fff; 
  /*-webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;*/
}

.service-info h3 {
  margin-top: 35px;
  color: #fff;
}
#our-company{
  background: #047770;
}
.our-company{
  padding-top: 70px;
}
.more-btn{
  background: transparent;
  border-radius: 4px;
  padding: 0.6em 1em;
  border: 2px solid #fff;
  color: #fff;
  margin-top: 25px;
  display: inline-block;
}
.more-btn:hover{
  color: #16817a;
  background: #fff;
  border-color: #16817a;
}

/*************************
********About Us CSS*******
**************************/
#about-us {
  /*background-image: url(../images/about-bg.jpg);*/
  background: #ebebea;
  padding: 60px 0;
  padding-top: 100px;
}

#about-us h2 {
  margin-top: 0;
  color: #000;
}

#about-us .lead {
  font-size: 16px;
  margin-bottom: 10px;
}

#about-us h1 {
  margin-bottom: 30px;
}
#about-us{
  padding-bottom: 150px;
}
#about-us p{
  color: #695f5f;
}
#about-us .tab-content p{
  font-size: 16px;
}
.nav-tabs{
  display: inline-block
}
.nav-tabs{
  border: none;
}
.nav-tabs>li{
  margin-bottom: 0;
}
.nav-tabs>li>a {
  margin-right: 15px;
  line-height: 1.42857143;
  border: none;
  color: #000;
  text-transform: uppercase;  
  font-weight: 600;
  border-radius: 5px;
  padding: 0.9em 1.3em;
  background: #fff;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
  border: none;
}
.nav-tabs>li>a:focus, .nav-tabs>li>a:hover{
  background: #db5941;
  color: #fff;  
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
  background: #db5941;
  color: #fff;
  border-radius: 5px;
  border: none;  
 }
 .nav-tabs-row{
   margin-top: 50px;
 }
 .tab-content{
   margin-top: 40px;
 }
 .user-image{
   border: 10px solid #fff;
   border-radius: 10px;
 }
 .tab-content h3{
   text-transform: uppercase;
   font-size: 30px;
   margin: 0;
   font-weight: 700;
 }
 .tab-content p{
   text-align: justify;
   margin-top: 12px;
 }

 /*Media*/
#media{
  padding-top: 100px;
}
section#media{
   background: #f8bc3a;
 }

 #media .nav-tabs-row{
   margin-top: 20px;
 }
 #media .tab-content{
   margin-top: 60px;
 }
/*Social Icons*/

.social-icons {
  margin-top:30px;
  text-align: center;
}

.social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.social-icons ul li {
  float: left;
  margin-right: 8px;
}

.social-icons ul li:last-child {
  margin-right: 0;
}

.social-icons ul li a {
  color:#fff;
  background-color: #d9d9d9;
  height: 36px;
  width: 36px;
  line-height: 36px;
  display: block;
  font-size: 16px;
  opacity: 0.8;
}

.social-icons ul li a:hover {
  opacity: 1;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}


/*************************
**********Blog CSS********
**************************/

.post-meta {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
}

.blog-list{
  margin-bottom: 40px;
 }
.blog-list .blog-image-list{
  padding-top: 16px;
}
.blog-list img{
   border-radius: 50%;
   height: 125px;
   width: 125px;
 }
.blog-list .blog-content h4{
  color: #000;
  font-weight: 700;
  text-transform: none;
  font-size: 23px;
}
.blog-list .blog-content p{
  color: #695f5f;
  margin-top: 0;
  font-size: 16px;
}
.blog-list .blog-content a.read-more-btn,
.more-news .more-news-btn{
  color: #695f5f;
  border: 1.4px solid #695f5f;
  display: inline-block;
  border-radius: 6px;
  padding: 0.4em 1.6em;
  font-size: 17px;
  margin-top: 3px;
  text-transform: uppercase;
}
.more-news .more-news-btn:hover,
.blog-list .blog-content a.read-more-btn:hover{
  background: #fff;
  border-color: #f8bc3a;
  color: #f8bc3a;
}
/*Blog Single Post*/
#single-post{
  padding: 70px 0;
}
#single-post .post-title h2{
  font-size: 33px;
  text-transform: uppercase;
  margin: 40px 0;
  font-weight: 600;
  border-bottom: 2px solid #16817a;
  padding-bottom: 30px;
}
#single-post .post-image img{
  width: 100%;
  height: 300px;
}
#single-post .post-metadata p{
  font-size: 18px;
  margin: 20px 0;
}
#single-post .post-content p{
  font-size: 19px;
  margin: 20px 0;
}
.parallax-image{
  background: url('../img/slider/2.jpg');
  background-size: cover;
  height: 100vh;
  width: 100%;
  max-width: 100%;
  z-index: -1;
  position: absolute;
  left: 0;
  top:0;
}
/*************************
**********Contact CSS*****
**************************/

#contact {
  padding-top: 0px;
  padding-bottom: 0;
}

#google-map {
  height: 430px;
  background: #0c8099;
}

#contact-us {
  background-image:url(../images/contact-bg.jpg);
  padding-bottom: 90px; 
}

#contact-us .heading {
  padding-top: 95px;
}

.form-control {
  background-color: #fff;
  border-color: rgba(255,255,255,.1);
  height: 45px;
  border-radius: 4px;
  box-shadow: none;
}

textarea.form-control {
  min-height: 180px;
  resize:none;
}

.form-group {
  margin-bottom: 30px;
}

.contact-info {
  padding-left:70px;
  font-weight: 300;
}

ul.address {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-info ul li {
  margin-bottom: 8px;
}

.contact-info ul li a {
  color: #fff;
}

.btn-submit {
  display: block;
  padding: 12px;
  width: 100%;
  color: #fff;
  border:0;
  margin-top: 40px;
}
#contact-info{
  background: #2f2f2f;
  color: #fff;
  padding: 50px 0;
}
#contact-info i{
  font-size: 60px;
  margin-right: 20px;
  vertical-align: bottom;
}
#contact-info span{
  margin-top: -25px;
  font-size: 15px;
  vertical-align: middle;
  display: inline-block;
}
#contact-us{
  background:#0c8099;
}
form#main-contact-form{
  margin-top: 70px;
}
form#main-contact-form .form-group{
  position: relative;
}
form#main-contact-form .form-group i{
  position: absolute;
  right: 12px;
  top: 13px;
  font-weight: 400;
  color: #aaa;
  font-size: 17px;
}
form#main-contact-form .btn-submit{
  text-transform: uppercase;
  color: #fff;
  background: #000;
  display: inline-block;
  width: auto;
  padding: 10px 23px;
  border-radius: 4px;
  margin-top: 4px;
}
form#main-contact-form .btn-submit:hover{
  color: #0c8099;
  border-color: #0c8099;
  background: #fff;
}
.carrier-btn{
  background: #db5941;
  color: #fff;
  border-radius: 5px;
  padding: 0.8em 1.6em;
  font-weight: 600;
  position: absolute;
  text-transform: uppercase;
  right: 0;
  top: 125px;
}
.carrier-btn:hover{
  background: #fff;
  border-color: #db5941;
  color: #db5941;
}

/*Subscribe*/
#subscribe{
  background: #2f2f2f;
}
#subscribe .form-group{
  display: inline-block;
  position: relative;
  margin-bottom: 0;
}
#subscribe .form-group:last-child{
  vertical-align: top;
}
#subscribe .form-group i{
  position: absolute;
  left: 30px;
  top: 14px;
  font-weight: 400;
  color: #aaa;
  font-size: 17px;
}
#subscribe .form-group input{
  padding-left: 65px;
  width: 100%;
  width: 330px;
}
.btn-submit-subs{
  background: #db5941;
  color: #fff;
  text-transform: uppercase;
  border-radius: 5px;
  border: none;
  font-size: 14px;
  padding: 0.8em 1.8em;
  font-weight: 600;
}
.btn-submit-subs:hover{
  background: #fff;
  border-color: #db5941;
  color: #db5941;
}
#subscribe .subs-email{
  margin-right: 25px;
}
section#subscribe{
  padding: 0;
}
.subscribe-us{
  padding: 40px 0;
}
#subscribe .form-group p{
  margin-top: 20px;
  color: #999;
  margin-bottom: 0;
}

/*Footer*/
#footer {
  color:#fff;
}

.footer-top {
  position: relative;
  padding:30px 0
}

#footer .footer-bottom {
  padding: 20px 0 10px;
}

#footer .footer-bottom a:hover {
  text-decoration: underline;
}

#footer .social-icons {
  margin-top: 15px;
}

#footer .social-icons ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .social-icons ul li a {
  background-color: #d2d2d1;
  border-radius: 50%;
  line-height: 55px;
  height: 55px;
  width: 55px;
  font-size: 28px;
}
#footer .social-icons ul li{
  margin: 0 10px;
}
#footer .social-icons ul li a:hover {
  color: #fff
}

#footer .social-icons ul li a.envelope:hover {
  background-color: #CECB26;
}

#footer .social-icons ul li a.facebook:hover {
  background-color: #3b5999;
}
#footer .social-icons ul li a.twitter:hover {
  background-color: #2ac6f7;
}
#footer .social-icons ul li a.dribbble:hover {
  background-color: #ff5b92;
}
#footer .social-icons ul li a.linkedin:hover {
  background-color: #036dc0;
}
#footer .social-icons ul li a.google-plus:hover {
  background-color: #d34836;
}
#footer{
  background: #ebebea;
  padding-bottom: 70px;
}
#footer .footer-bottom p,
#footer .footer-bottom a{
  color: #676565;
  margin: 0;
  font-size: 13px;
}
#footer .footer-bottom .by p,
#footer .footer-bottom .by a{
  font-size: 12px;
}