/* lg */ 
@media (min-width: 1200px) {

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {
 	.navbar-right li a {
		font-size: 12px;
		padding-right: 10px;
	}
	.social-icons ul li {
		margin-bottom: 10px;
	}
	.main-nav{
		padding-top: 10px;
	}
	.navbar-header{
		float: none;
		text-align: center;
	}
	.navbar-brand{
		float: none;
		width: 100%;
		text-align: center;
	}
	.navbar-brand img{
		display: inline-block;
		width: auto;
		margin-top: 0;
		width: 64px;
	}
	.navbar-right{
		float: none !important;
		text-align: center !important;
	}
	.navbar-nav>li{
		float: none;
		display: inline-block;
	}
	#contact-info i,
	#contact-info span{
		text-align: center;
		display: block;
		margin: 0;
	}
	#contact-info span{
		margin-top: 20px;
	}	
	.carrier-btn{
		right: 5px;
	}
	#about-us .tab-content p{
		font-size: 14px;
	}
	#home-slider .caption h3{
		font-size: 22px;
	}
	#home-slider .caption p{
		font-size: 15px;
	}
	#home-slider .caption .caption-content{
		padding: 0;
	}
	.blog-list img{
		height: 100px;
	}
}

/* xs */
@media (max-width: 767px) {
	body {
		font-size: 13px;
	}
	#home-slider .caption h1 {
		font-size: 40px;
	}
	#home-slider .caption {
		font-size: 15px;
		padding: 0 30px;
	}
	.left-control, .right-control {
		font-size: 20px;
		height: 30px;
		line-height: 25px;
		width: 30px;
	}
	#home-slider:hover .right-control {
		right: 15px;
	}
	#home-slider:hover .left-control {
		left: 15px;
	}
	.caption .btn-start {
		font-size: 12px;
		padding: 10px 30px;
	}
	.navbar-brand {
		padding: 0 15px 15px;
	}
	.navbar-brand img{
		width: 75px;
		margin-top: -20px;
	}	
	.navbar-toggle {
	  border:1px solid #fff;
	}

	.navbar-toggle .icon-bar {
	  background-color: #fff;
	}
	.navbar-right li a {
		font-size: 13px;
		padding-bottom: 8px;
		padding-top: 10px;
	}
	.contact-info {
		padding-left: 0;
	}
	#footer .footer-bottom {
		text-align: center;
	}
	.footer-bottom p.pull-right {
		float: none !important;
	}
	#home-slider .caption .caption-content{
		padding: 0;
	}
	#home-slider .caption h3{
		font-size: 20px;
		margin-top: 0;
		text-align: center;
	}
	#home-slider .caption p{
		text-align: center;
		font-size: 14px;
	}
	#home-slider .image{
		width: 40%;
		margin: auto;
	}
	#home .logos li{
		height: 55px;
		width: 55px;
	}
	#home-slider .fa-angle-down{
		top: 88%;
	}
	.carousel-indicators li{
		height: 12px;
		width: 12px;
	}
	.carousel-indicators .active{
		height: 12px;
		width: 12px;
	}
	.navbar-brand{
		font-size: 30px;
	}
	.our-company{
		padding-top: 40px;
	}
	.our-company .col-sm-4{
		margin-top: 30px;
	}
	.service-icon{
		height: 100px;
		line-height: 100px;
		width: 100px;
	}
	.heading p{
		font-size: 14px;
	}
	.nav-tabs>li{
		float: none;
		display: inline-block;
		margin-top: 10px;
	}
	.nav-tabs-row{
		margin-top: 30px;
	}
	#about-us .tab-content p{
		font-size: 14px;
		text-align: justify;
	}
	.tab-content h3{
		text-align: center;
		margin-top: 20px;
	}
	.user-image{
		width: 55%;
		margin: auto;
	}
	.blog-list .blog-image-list{
		text-align: center;
	}
	.blog-content{
		margin-top: 20px;
		text-align: center;
	}
	.blog-content h4{
		text-align: center;
	}
	.blog-list .blog-content p{
		font-size: 14px;
	}
	.blog-list .blog-content a.read-more-btn{
		margin-top: 10px;
	}
	#contact-info i,
	#contact-info span{
		width: 100%;
		text-align: center;
		margin-right: 0;
	}
	#contact-info span{
		margin-top: 15px;
	}	
	#contact-info .col-sm-4{
		margin-top: 20px;
	}
	.main-nav{
		padding: 16px 10px;
	}
	.carrier-btn{
		position: relative;
		text-align: center;
		left: 45%;
		transform: translateX(-50%);
		top: 70px;
		right: auto;
	}
	.navbar-right li{
		padding: 5px 0;
	}
	.navbar-right li a{
		border-bottom: 3px solid transparent;
	}
	.navbar-toggle{
		border: none;
	}
	.navbar-collapse{
		padding-left: 15px;
		padding-right: 15px;
	}
	.subscribe-us .row{
		margin: 0;
	}
	#home-slider .fa-angle-down{
		animation: none;
	}
}

@media (max-width: 499px) {
	#subscribe .subs-email{
		margin: 0;
	}
	.btn-submit-subs{
		margin-top: 10px;
	}
	#subscribe .form-group{
		width: 100%;
	}
	#subscribe .form-group input{
		width: 80%;
		margin: auto;
	}
	#subscribe .form-group i{
		left: 15%;
	}
	#footer .social-icons ul li{
		margin: 0 5px;
	}
	.carrier-btn{
		left: 38%;
	}

}

/* XS Portrait */
@media (max-width: 479px) {
	

}

